@{
    Layout = "_Layout";
    ViewData["Title"] = "Админка";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="d-flex flex-nowrap gap-3 h-100">
    <a class="btn btn-success h-25 align-content-center align-self-center" asp-action="Computers" style="flex: 1; font-size: xx-large">Компьютеры</a>
    <a class="btn btn-success h-25 align-content-center align-self-center" asp-action="Games" style="flex: 1; font-size: xx-large">Игры</a>
    <a class="btn btn-success h-25 align-content-center align-self-center" asp-action="Users" style="flex: 1; font-size: xx-large">Пользователи</a>
</div>