@{
    Layout = "_Layout";
    ViewData["Title"] = "Боты";
}

<div class="p-3">
    <h2>Боты</h2>
    <div id="bots" class="d-flex gap-3 mt-3 flex-wrap justify-content-center"></div>
</div>

<script>
    async function loadBots() {
        const res = await fetch("/api/admin/bots");
        if (!res.ok) return alert("Ошибка загрузки списка ботов");
        const data = await res.json();
        
        const container = document.getElementById("bots");
        container.innerHTML = "";

        data.forEach(bot => {
            const div = document.createElement("div");
            
            let btnClass;
            let botState;
            
            switch (bot.status){
                case "BUSY":
                    btnClass = "btn-warning"
                    botState = "Занят"
                    break
                case "COOLING":
                    btnClass = "btn-warning"
                    botState = "Охлаждается"
                    break
                case "ERROR":
                    btnClass = "btn-danger"
                    botState = `Ошибка (${bot.errorStatuses.join(', ')})`
                    break
                default:
                    btnClass = "btn-primary"
                    botState = "ОК"
                    break;
            }
            
            div.className = `btn p-1 ${btnClass} d-flex flex-column`;
            div.style = "width: 20em; min-height: 10em"

            let botName = bot.botId;
            if (!botName)
                botName = bot.pcId;
            
            let botStatus;
            if (bot.hasChecks) 
            {
                botStatus = `
                    <b>Статус: </b>${botState}<br>
                    <b>Время последней проверки пк: </b>${localTime(bot.lastCheckTime).toLocaleString()}<br>
                    <b>Время последней проверки Dolphin: </b>${bot.lastDolphinCheckTime ? localTime(bot.lastDolphinCheckTime).toLocaleString() : "Не было проверок"}<br>
                    <b>Количество проверок dolphin: </b>${bot.dolphinChecksCount}<br>
                `
            }
            else
                botStatus = "Еще не получал ни одного статуса"
            
            div.innerHTML = `
                <strong>${botName}</strong>
                <div class="border border-light border-1 rounded-3 text-center align-content-center" style="flex: 1">
                    ${botStatus}
                </div>
            `;
            div.onclick = async () => {
                window.location.href = `/Admin/Bot/${bot.pcModelId}`;
            };
            container.appendChild(div);
        });
    }

    loadBots();
</script>
