@using AnydeskTracker.Models
@{
    Layout = "_Layout";
    ViewData["Title"] = "Компьютеры";
}

<div class="d-flex h-100 gap-3">
    <div class="col-4 d-flex gap-3 flex-column">
        <h2>Управление ПК</h2>

        <form id="addForm" class="border rounded-3 p-3">
            <input id="pcId" type="text" placeholder="ID ПК" class="form-control mb-2" required/>
            <input id="password" type="text" placeholder="Пароль" class="form-control mb-2" required/>
            <button class="btn btn-success">Добавить ПК</button>
        </form>

        <form id="updatePasswords" class="border rounded-3 p-3">
            <input id="spreadSheetLink" type="text" placeholder="Ссылка на таблицу" class="form-control mb-2" required/>
            <input id="spreadSheetName" type="text" placeholder="Название листа" class="form-control mb-2" required/>
            <button class="btn btn-success">Обновить пароли</button>
        </form>

        <div class="mt-2">
            <a class="btn btn-success" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/1wejvcGICKcC4kLPu5dR5we2Z5NtNOz4McnALJb0M3qs/edit?usp=sharing">Таблица</a>
            <iframe class="w-100" style="height: 25em" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRxtRRp5PWqRWedusiWFt-_FYTC4aMAlXdNXDv73rRXXTWkw-XCDsPeWNm3WgmdUCpDgn3O-MWcxob8/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>
    </div>

    <table class="table h-25 table-bordered" id="pcTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>AnyDesk ID</th>
            <th>Пароль</th>
            <th>Статус</th>
            <th>Последнее изменение</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
    <script>
        async function loadPcs() {
            const res = await fetch('/api/admin/pcs');
            const data = await res.json();
            const tbody = document.querySelector('#pcTable tbody');

            
            tbody.innerHTML = data.map(p => {
                const freeUpButtonHtml = `<button class="btn btn-sm btn-secondary" onclick="forceFreePc(${p.id})">Освободить</button>`
                return `
                <tr>
                    <td>${p.id}</td>
                    <td>${p.anyDeskId}</td>
                    <td>${p.password}</td>
                    <td class="${p.status === 3 ? "text-danger" : ""}">${p.statusText}</td>
                    <td>${new Date(p.lastStatusChange).toLocaleString()}</td>
                    <td>
                        <button class="btn btn-sm btn-danger" onclick="deletePc(${p.id})">Удалить</button>
                    </td>
                    <td>
                        ${p.status !== 0 ? freeUpButtonHtml : ""}
                    </td>
                </tr>
            `}).join('');
        }

        document.getElementById('addForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const pcId = document.getElementById('pcId').value;
            const password = document.getElementById('password').value;
            await fetch('/api/admin/pcs', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ pcId, password, status: @((int)PcStatus.Free), botId: "" })
            });
            e.target.reset();
            loadPcs();
        });
        
        document.getElementById('updatePasswords').addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const sheetUrl = document.getElementById('spreadSheetLink').value;
            const sheetName = document.getElementById('spreadSheetName').value;
            await fetch('/api/admin/pcs/updatePcs', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ sheetUrl, sheetName })
            });
            loadPcs();
        });

        async function deletePc(id) {
            await fetch(`/api/admin/pcs/${id}`, { method: 'DELETE' });
            loadPcs();
        }
        
        async function forceFreePc(id) {
            await fetch(`/api/admin/pcs/${id}/forceFreeUp`, { method: 'PUT' })
            loadPcs();
        }

        loadPcs();
    </script>
}
