@using AnydeskTracker.Models
@{
    Layout = "_Layout";
    ViewData["Title"] = "Компьютеры";
}

<div class="d-flex h-100 gap-3">
    <div class="col-4 d-flex gap-3 flex-column">
        <h2 class="m-0">Управление ПК</h2>

        <form id="addForm" class="border rounded-3 p-3">
            <input id="pcId" type="text" placeholder="ID ПК" class="form-control mb-2" required/>
            <input id="password" type="text" placeholder="Пароль" class="form-control mb-2" required/>
            <button class="btn btn-success">Добавить ПК</button>
        </form>

        <form id="updatePasswords" class="border rounded-3 p-3">
            <input id="spreadSheetLink" type="text" placeholder="Ссылка на таблицу" class="form-control mb-2" required/>
            <input id="spreadSheetName" type="text" placeholder="Название листа" class="form-control mb-2" required/>
            <button class="btn btn-success">Обновить пароли</button>
        </form>

        <div class="mt-2">
            <a class="btn btn-success" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/1wejvcGICKcC4kLPu5dR5we2Z5NtNOz4McnALJb0M3qs/edit?usp=sharing">Таблица</a>
            <iframe class="w-100" style="height: 25em" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRxtRRp5PWqRWedusiWFt-_FYTC4aMAlXdNXDv73rRXXTWkw-XCDsPeWNm3WgmdUCpDgn3O-MWcxob8/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>
    </div>

    <div class="flex-grow-1 d-flex gap-3 flex-column">
        <button id="saveBtn" class="btn btn-success w-25">Сохранить изменения</button>
        <table class="table h-25 table-bordered" id="pcTable">
            <thead>
            <tr>
                <th style="width:30px"></th>
                <th>ID</th>
                <th>AnyDesk ID</th>
                <th>Пароль</th>
                <th>Статус</th>
                <th>Последнее изменение</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <!-- TableFetch -->
    <script>
        async function loadPcs() {
            const res = await fetch('/api/admin/pcs');
            const data = await res.json();
            const tbody = document.querySelector('#pcTable tbody');

            
            tbody.innerHTML = data.map(p => {
                const freeUpButtonHtml = `<button class="btn btn-sm btn-secondary" onclick="forceFreePc(${p.id})">Освободить</button>`
                return `
                <tr data-id="${p.id}" data-order="${p.sortOrder}">
                    <td class="drag-handle text-muted">
                      ☰
                    </td>
                    <td class="editable" data-field="botId">${p.botId}</td>
                    <td class="editable" data-field="anyDeskId">${p.anyDeskId}</td>
                    <td class="editable" data-field="password">${p.password}</td>
                    <td class="${p.status === 3 ? "text-danger" : ""}">${p.statusText}</td>
                    <td>${new Date(p.lastStatusChange).toLocaleString()}</td>
                    <td>
                        <button class="btn btn-sm btn-danger" onclick="deletePc(${p.id})">Удалить</button>
                    </td>
                    <td>
                        ${p.status !== 0 ? freeUpButtonHtml : ""}
                    </td>
                </tr>
            `}).join('');
        }

        document.getElementById('addForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const pcId = document.getElementById('pcId').value;
            const password = document.getElementById('password').value;
            await fetch('/api/admin/pcs', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ pcId, password, status: @((int) PcStatus.Free), botId: "" })
            });
            e.target.reset();
            await loadPcs();
        });

        async function deletePc(id) {
            await fetch(`/api/admin/pcs/${id}`, { method: 'DELETE' });
            await loadPcs();
        }
        
        async function forceFreePc(id) {
            await fetch(`/api/admin/pcs/${id}/forceFreeUp`, { method: 'PUT' })
            await loadPcs();
        }

        loadPcs();
    
    </script>
    
    <!-- Left buttons -->
    <script>
        document.getElementById('updatePasswords').addEventListener('submit', async (e) => {
            e.preventDefault();

            const sheetUrl = document.getElementById('spreadSheetLink').value;
            const sheetName = document.getElementById('spreadSheetName').value;
            await fetch('/api/admin/pcs/updatePcs', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ sheetUrl, sheetName })
            });
            await loadPcs();
        });
    </script>

    <!-- Table editing -->
    <script>
        let editing = null;
        const pcTable = $('#pcTable');

        pcTable.on('click', '.editable', function () {
            if (editing) return;

            const cell = $(this);
            const oldValue = cell.text().trim();

            let input = $(`<input type="text" class="form-control form-control-sm flex-wrap m-0">`);
            input.val(oldValue);

            cell.data('original', oldValue);
            cell.empty().append(input);
            input.focus();

            editing = cell;
        });
        
        pcTable.on('blur', 'input, select', function () {
            finishEdit($(this).closest('.editable'), true);
        });

        pcTable.on('keydown', 'input, select', function (e) {
            if (e.key === 'Enter') {
                finishEdit($(this).closest('.editable'), true);
            }
            if (e.key === 'Escape') {
                finishEdit($(this).closest('.editable'), false);
            }
        });

        function finishEdit(cell, save) {
            const input = cell.find('input, select');
            const newValue = input.val();
            const oldValue = cell.data('original');

            cell.empty().text(save ? newValue : oldValue);
            
            if (save && newValue !== oldValue) {
                cell.closest('tr').addClass('table-warning');
                cell.data('changed', true);
            }

            editing = null;
        }

        $('#saveBtn').on('click', function () {
            const changes = [];

            $('#pcTable tbody tr.table-warning').each(function () {
                const row = $(this);
                const item = {
                    id: row.data('id'),
                    sortOrder: row.data('order')
                };

                row.find('.editable').each(function () {
                    const cell = $(this);
                    item[cell.data('field')] = cell.text().trim();
                });

                changes.push(item);
            });
            
            console.log(changes)

            if (!changes.length) {
                alert('Нет изменений');
                return;
            }
            
            $.ajax({
                url: '/api/admin/pcs/bulk-update',
                method: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(changes),
                success: () => {
                    loadPcs();
                },
                error: () => alert('Ошибка')
            });
        });
    </script>

    <!-- Table drag -->
    <script>
        $('#pcTable tbody').sortable({
            handle: '.drag-handle',
            axis: 'y',
            helper: 'clone',
            placeholder: 'sortable-placeholder',
            

            start: function () {
                if (editing) {
                    return false;
                }
            },

            update: function () {
                updateOrder();
            }
        });

        function updateOrder() {
            $('#pcTable tbody tr').each(function (index) {
                $(this)
                    .attr('data-order', index + 1)
                    .addClass('table-warning')
                    .data('orderChanged', true);
            });
        }
    </script>
    
    <style>
        .editable{
            cursor: pointer;
        }
        .editable:hover {
            background: #f8f9fa;
        }

        .drag-handle {
            cursor: grab;
        }
        .drag-handle:active {
            cursor: grabbing;
        }

        .sortable-placeholder {
            height: 45px;
            background: #e9ecef;
        }
    </style>
}
