@{
    Layout = "_Layout";
    ViewData["Title"] = "Пользователи";
}

<div class="p-3">
    <h2>Пользователи</h2>
    <div id="users" class="d-flex flex-wrap gap-3 mt-3"></div>
</div>

<script>
    async function loadUsers() {
        const res = await fetch("/api/admin/users");
        if (!res.ok) return alert("Ошибка загрузки списка пользователей");
        const data = await res.json();

        const container = document.getElementById("users");
        container.innerHTML = "";

        data.forEach(user => {
            const div = document.createElement("div");
            div.className = "btn p-1 btn-primary d-flex flex-column";
            div.style = "height: 12em; width: 15em"
            
            const sessionStatus = user.sessionStartTime == null 
                ? "<strong>Не работает</strong>" 
                : `Начал работать в:<br>
                    <b>${new Date(user.sessionStartTime).toLocaleString()}</b>`
            
            const pcStatus = user.currentPcId == null 
                ? "" 
                : `Работает за компьютером:<br>
                    <b>${user.currentPcId}</b>`
            
            const pauseStatus = user.paused 
                ? `На паузе с<br>
                    <b>${new Date(user.pauseTime).toLocaleString()}</b>`
                : ""
            
            div.innerHTML = `
                <strong>${user.userName}</strong>
                <div class="border border-light border-1 rounded-3 text-center align-content-center" style="flex: 1">
                    ${sessionStatus}<br>
                    ${pcStatus}<br>
                    ${pauseStatus}
                </div>
            `;
            div.onclick = async () => {
                window.location.href = `/Admin/User/${user.userId}`;
            };
            container.appendChild(div);
        });
    }

    loadUsers();
</script>
