@{
    Layout = "_Layout";
    ViewData["Title"] = "Обновление ботов";
}

<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mb-4 w-50" onclick="UpdateAllBots()">Обновить всех ботов</button>
    </div>
    <table class="table table-bordered" id="versionsTable">
        <thead>
        <tr>
            <th style="width: 25em" class="text-center">Время загрузки</th>
            <th>Версия</th>
            <th></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <h3>Загрузить новую версию</h3>
    <form id="uploadForm">
        <div class="mb-3 d-flex flex-column gap-1">
            <input class="form-control" type="file" id="fileInput" accept=".exe" required>
            <input class="form-control" type="text" id="versionInput" placeholder="Версия" required>
        </div>
        <button id="uploadButton" type="submit" class="btn btn-primary">Загрузить</button>
    </form>
    <div class="progress mt-3 d-none" id="progressWrapper">
        <div id="uploadProgress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0">
            0%
        </div>
    </div>
    <div id="uploadResult" class="mt-3"></div>
</div>

@section Scripts
{
    <script>

        $('#uploadForm').on('submit', async function(e) {
            e.preventDefault();
            
            const version = $('#versionInput').val();
            
            if (!isValidVersion(version))
            {
                alert("Не правильный формат версии, правильный формат: X.X.X")
                return;
            }
            
            const btn = $('#uploadButton');
            const uploadResult = $('#uploadResult');
            btn.toggleClass("d-none", true)

            const fileInput = $('#fileInput')[0];
            if (fileInput.files.length === 0) return alert('Выберите файл');

            const formData = new FormData();
            const file = fileInput.files[0];
            formData.append('version', version);
            formData.append('file', file, file.name);

            $('#progressWrapper').removeClass('d-none').removeClass('progress-bar-animated');
            const progressBar = $('#uploadProgress');
            progressBar
                .removeClass('bg-success bg-danger')
                .removeClass('progress-bar-animated')
                .css('transition', 'none')
                .css('width', '0%')
                .text('0%');
            progressBar[0].offsetHeight;
            progressBar.css('transition', '').addClass('progress-bar-animated');
            
            $.ajax({
                url: '/api/admin/bots/updates/Upload',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                
                xhr: function () {
                    const xhr = new window.XMLHttpRequest();

                    xhr.upload.addEventListener('progress', function (evt) {
                        if (evt.lengthComputable) {
                            const percent = Math.round((evt.loaded / evt.total) * 100);

                            $('#uploadProgress')
                                .css('width', percent + '%')
                                .text(percent + '%');
                        }
                    });

                    return xhr;
                },
                
                success: function(response) {
                    $('#uploadProgress')
                        .removeClass('progress-bar-animated')
                        .addClass('bg-success');

                    $('#uploadResult').html(
                        '<div class="alert alert-success">Файл загружен</div>'
                    );
                    
                    $('#fileInput').val('');
                    btn.toggleClass("d-none", false)
                    LoadAppVersions();
                },
                error: function(xhr) {
                    $('#uploadProgress')
                        .removeClass('progress-bar-animated')
                        .addClass('bg-danger');

                    $('#uploadResult').html(
                        `<div class="alert alert-danger">Ошибка загрузки: ${xhr.responseText}</div>`
                    );
                    
                    btn.toggleClass("d-none", false)
                }
            });
        });
        
        $('#versionInput').on('change', function () {
            const value = $(this).val();
            
            $(this).toggleClass('is-invalid', !isValidVersion(value))
        })

        function isValidVersion(version) {
            return /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)$/.test(version);
        }
        
        async function LoadAppVersions(){
            const res = await fetch(`/api/admin/bots/updates/catalog`);
            const data = await res.json();
            const tbody = document.querySelector('#versionsTable tbody');

            tbody.innerHTML = data.map(appVersion => {
                return `
                    <tr">
                        <td>${localTime(appVersion.uploadedAt).toLocaleString()}</td>
                        <td>${appVersion.version}</td>
                        <td><a href="${appVersion.url}" target="_blank" rel="noopener noreferrer">Скачать</a></td>
                    </tr>
                `
            }).join('');
        }
        
        async function UpdateAllBots(){
            const res = await fetch('/api/admin/agents/updateAll', {
                method: 'GET'
            });

            if (res.ok)
            {
                alert("Успех")
                return;
            }

            alert("Ошибка")
        }
        
        LoadAppVersions();
    
    </script>
}
