services:
  app:
    build: .
    container_name: anydesktracker-app
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    volumes:
        - ./app_data:/app/app_data
