@{
    Layout = "_Layout";
    ViewData["Title"] = "Игры";
}


<h2>Расписания игр</h2>

<table class="table table-bordered" id="gamesTable">
    <thead>
    <tr>
        <th>Игра</th>
        <th>ПН</th>
        <th>ВТ</th>
        <th>СР</th>
        <th>ЧТ</th>
        <th>ПТ</th>
        <th>СБ</th>
        <th>ВС</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts {
    <script>
        let gameSchedules = {};
        
        async function loadGames() {
            const res = await fetch('/api/admin/games');
            const data = await res.json();
            const tbody = document.querySelector('#gamesTable tbody');

            data.forEach(game => {
                gameSchedules[game.id] = {}
                game.schedules.map(schedule => gameSchedules[game.id][schedule.weekDay] = schedule.users.map(u => u.id))
            });
            
            tbody.innerHTML = data.map(p => {
                const name = p.name ? p.name : p.url;
                return `
                <tr>
                    <td><a href="${p.url}" target="_blank" rel="noopener noreferrer">${name}</a></td>
                    <td>
                        <select class="user-select" multiple data-game-id="${p.id}" data-game-weekday-index="1"></select>
                    </td><td>
                        <select class="user-select" multiple data-game-id="${p.id}" data-game-weekday-index="2"></select>
                    </td><td>
                        <select class="user-select" multiple data-game-id="${p.id}" data-game-weekday-index="3"></select>
                    </td><td>
                        <select class="user-select" multiple data-game-id="${p.id}" data-game-weekday-index="4"></select>
                    </td><td>
                        <select class="user-select" multiple data-game-id="${p.id}" data-game-weekday-index="5"></select>
                    </td><td>
                        <select class="user-select" multiple data-game-id="${p.id}" data-game-weekday-index="6"></select>
                    </td><td>
                        <select class="user-select" multiple data-game-id="${p.id}" data-game-weekday-index="0"></select>
                    </td>
                </tr>
                `}).join('');
            await loadUsersForSelects();
        }

        async function loadUsersForSelects() {
            const res = await fetch('/api/admin/users');
            const users = await res.json();

            const userOptions = users.map(u => ({
                id: u.userId,
                text: u.userName
            }));

            const userSelects = $('.user-select');
            
            userSelects.each(function () {
                $(this).select2({
                    data: userOptions,
                    placeholder: 'Выберите пользователей',
                    width: '100%'
                });

                loadAssignedUsers($(this).data('game-id'), $(this).data('game-weekday-index'), $(this));
            });

            userSelects.on('change', async function () {
                const gameId = $(this).data('game-id');
                const weekDay = $(this).data('game-weekday-index');
                const users = $(this).val();
                await assignUsers(gameId, weekDay, users);
            });
        }
        
        async function loadAssignedUsers(gameId, weekDay, selectElement) {
            selectElement.val(gameSchedules[gameId][weekDay]).trigger('change');
        }
        
        async function assignUsers(gameId, weekDay, selectedOptions) {
            const userIds = Array.from(selectedOptions);

            const res = await fetch(`/api/admin/games/${gameId}/${weekDay}/assign`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(userIds)
            });

            if (!res.ok) {
                alert('Ошибка при назначении пользователей');
            }
        }

        async function deleteGame(id) {
            await fetch(`/api/admin/games/${id}`, { method: 'DELETE' });
            await loadGames();
        }

        (async () => {
            await loadGames();
        })()
    </script>
}

