html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100vh;
  padding-bottom: 60px;
}

main{
  height: 80%;
}

 .drag-handle {
   cursor: grab;
 }
.drag-handle:active {
  cursor: grabbing;
}

.sortable-placeholder {
  height: 45px;
  background: #e9ecef;
  width: 100%;
}

