@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [Authorize()]
@{
    ViewData["Title"] = "Рабочая панель";
}

<div class="w-100 h-100 text-center align-content-center">
    <a id="startBtn" class="btn btn-success w-50 h-50 align-content-center" style="font-size: xxx-large" asp-controller="Work" asp-action="Index">Начать работу</a>
</div>  