@page
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Рабочая панель";
}

<h2>Добро пожаловать, @UserManager.GetUserName(User)</h2>

<a id="startBtn" class="btn btn-success" asp-controller="Work" asp-action="Index">Перейти к работе</a>
